
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Great+Vibes&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.App {
  text-align: center;
  font-family: Allura;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.container{
  width: 100vw;
  height: 100vh;
  background: #21181F !important;
}

.labels{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}


.images{
  display: flex;
  position: absolute;
  background-position: bottom;
  background-size: cover;
  height: 100%;
  width: 50%;
  margin: auto;
}
.friends-img{
  background-position: center;
  background-image: url("/public/beach-friends5.png"), url("/public/clouds_1929.jpeg");
}

.burger-img{
  background-image:  url("/public/burger4.png"), url("/public/burger-bg2.jpg");
}
.slide4-img{
  background-image:  url("/public/slide41.jpg");
}

.image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  animation: img 2s linear infinite;
}

.img-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
  margin-top: 0;
  overflow: hidden;
}

img{
  width: clamp(2rem, 20.5vw, 23.5rem);
}

.up {
  animation: moveUp 0.6s forwards;
}
.down {
  animation: moveDownIn 0.6s forwards;
}
.down-exit {
  animation: moveDownOut 0.6s forwards;
}
.up-enter {
  animation: moveUpIn 0.6s forwards;
}

@keyframes img {
  0%{
    margin-top: 0;
  }

  50%{
    margin-top: 1rem
  }

}

@keyframes moveUp {
  from { transform: translate(-50%, -50%); opacity: 1; }
  to   { transform: translate(-50%, -150%); opacity: 0; }
}

@keyframes moveDownOut {
  from { transform: translate(-50%, -50%); opacity: 1; }
  to   { transform: translate(-50%, 150%); opacity: 0; }
}

@keyframes moveDownIn {
  from { transform: translate(-50%, 150%); opacity: 0; }
  to   { transform: translate(-50%, -50%); opacity: 1; }
}

@keyframes moveUpIn {
  from { transform: translate(-50%, -150%); opacity: 0; }
  to   { transform: translate(-50%, -50%); opacity: 1; }
}

.text-container{
  margin: 25vh 0 0 10vh;
  text-align: left;
  padding: 2rem;
  font-family: Averia Serif Libre;
}
.text-animation{
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
}


@keyframes textEnterFromTop {
  from { transform: translateY(200px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes textEnterFromBottom {
  from { transform: translateY(-200px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes textExitUp {
  from { transform: translateY(0); opacity: 1; }
  to   { transform: translateY(200px); opacity: 0; }
}

@keyframes textExitDown {
  from { transform: translateY(0); opacity: 1; }
  to   { transform: translateY(-200px); opacity: 0; }
}


.text-enter-top {
  animation: textEnterFromTop 0.4s ease-out forwards;
}

.text-enter-bottom {
  animation: textEnterFromBottom 0.4s ease-out forwards;
}

.text-exit-up {
  animation: textExitUp 0.4s ease-out forwards;
}

.text-exit-down {
  animation: textExitDown 0.4s ease-out forwards;
}

.label-font{
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  font-weight: 500;
  margin-left: 5rem;
  margin-top: -2rem;
}