.App {
  text-align: center;
  font-family: 'Great Vibes', cursive;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  width: 100vw;
  height: 100vh;
  /*display: flex;*/
  /*overflow: hidden;*/
  background: #21181F !important;
}

.labels{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.img-animation{
  animation: img 2s linear infinite;
}
@keyframes img {
  0%{
    margin-top: 0;
  }

  50%{
    margin-top: -50px
  }

}



