.App {
  text-align: center;
  font-family: 'Great Vibes', cursive;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.container{
  width: 100vw;
  height: 100vh;
  /*display: flex;*/
  overflow: hidden;
  background: #21181F !important;
}

.labels{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.img-animation{
  animation: img 2s linear infinite;
}
@keyframes img {
  0%{
    margin-top: 0;
  }

  50%{
    margin-top: -50px
  }

}

.image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
}

.img-animation {
  position: absolute;

  transition: all 0.6s ease-in-out;
}

.orange {
  z-index: 2;
  transform: translateY(0%);
}

.blue {
  z-index: 1;
  transform: translateY(150%);
}

.image-container.swap .orange {
  transform: translateY(-150%);
  z-index: 1;
}

.image-container.swap .blue {
  transform: translateY(0px);
  z-index: 2;

}